
/* When screen is smaller than 700px(Smartphone Look) */
    * {
      box-sizing: border-box;
    }

/* NavBar follows all through the page */
  .topnav{
    position: fixed;
    top: 20px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .topnav a{
    font-size: 15px;
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
    margin-left: 25px;
    letter-spacing: .2em;
    font-weight: bold; /* Equivalent to 700 */
}
  }

  .topnav a.icon{
      float: right;
      font-size: 20px;
  }
/* Overlay Bar */
  .overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
/* Overlay Links */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
/* Overlay Links On Hover */
  .overlay a:hover, .overlay a:focus {
    color:  rgba(248, 226, 121, 0.8);
  }
/* Overlay Closebutton(x) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 40px;
  }
  .container{
    margin-top: 60px;
  }
/* Responsive image*/
   .fimg{
    width: 100%;
   } 

/* Position Caption */
   .work {
    position: relative;
    padding: 25px;
  }


  .text{
    font-size: 20px;
  }
 

@media only screen and (min-width: 700px){
/* When screen is 700px and below 900px(Tablet Look) */

    body {
    font-family: 'Lato', sans-serif;
    margin: 50px 25px 20px 0px;
  }
  .text{
    font-size: 25px;
  }
  .topnav a{
    font-size: 27px;
    letter-spacing: .3em;
  }
   /* Cover Over Entire Image */
  .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 226, 121, 0.8);
/* Center Content(Text) */
    display: flex;
    justify-content: center;
    align-items: center;
/* Only Show Caption On Hover */
    visibility: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
   /* Only Show Caption On Hover */ 
  .work:hover .cover{
    visibility: visible;
    opacity: 1;
  }
}
  

@media only screen and (min-width: 900px) {
/* When Screen is 900px and above(Desktop Look) */ 

    body {
    font-family: 'Lato', sans-serif;
    margin: 50px 25px 20px 0px;
  .topnav{
    top: 30px;
    padding-right: 60px;
  }

  .topnav a{
    font-size: 27px;
    margin: 45px;
    letter-spacing: .3em;
  }

  .topnav a.icon{
      all: revert;
      display: none;
    }

  .overlay {
    all: revert;
    display: inline;
  }

   .overlay-content {
    all: revert;
    float: right;
  }

  .overlay a {
   all: revert;
   text-decoration: none;
   font-size: 15px;
   margin-right: 60px;
   color: #000000;
  }

  .overlay .closebtn {
    all: revert;
    display: none;
  }

  .work {
    padding: 25px 25px 15px ;
    float: left;
    width: 47.99999%;
  }

  .fimg{
    padding: 20px;
  }

  .text{
    font-size: 30px;
  }
/* Cover Over Entire Image */
  .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(248, 226, 121, 0.8);
/* Center Content(Text) */
    display: flex;
    justify-content: center;
    align-items: center;
/* Only Show Caption On Hover */
    visibility: none;
    opacity: 0;
    transition: opacity 0.3s;
  }
   /* Only Show Caption On Hover */ 
  .work:hover .cover{
    visibility: visible;
    opacity: 1;
  }
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
